@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  text-align: center;
  font-family: Lato;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

body {
    background-color: powderblue;

  }

h4 {
  text-align: center;
}

footer {
  font-family: helvetica;
  color: white;
}
