<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "static/css/home.css">
<title>Safe Spot</title>
</head>

<body>
<h1>
{% if name %}
  Hello {{ name }} <br> Let's find you a safe spot
{% else %}
  Hello <br> Let's find you a safe spot
{% endif %}
</h1>

<h4>
    <div>
        <form method="post" action="http://127.0.0.1:5000/safe_spot">
            <input type="text" id="Place" name="Place" value="" placeholder="current location" required=/>
            <input type="submit" value=">" />
        </form>
    </div>
   </h4>

  <footer>
    <small>&#9757; Lottie Swift Inc.&#9757;</small>
  </footer>

  </body>
</html>
