<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="filename='static/css/home.css">
<title>Safe Spot</title>
</head>

{% if name %}
  <h1>Hello {{ name }}. Welcome to your safe spot</h1>
{% else %}
  <h1> Hello. Welcome to your safe spot</h1>
{% endif %}

  <body class="top">
    <header class="container">
      <section class="container">
        <h1>
          <div id="user-spot">
          <form method="post" action="/maps">
              <label for="Place">Your Location: </label>
              <input type ="text" id="Place" Place="Place" value=""placeholder="place" required="
              required" autofocus="autofocus" />
              <input type="submit" value="Go" id="submit-button" />
            </form>
          </div>
        </h1>
    </header>

    <section class="container" class="share container">
      <a class="btn btn-alt" href="contactme.html">Share your safe spot</a>
    </section>

    <footer class="container">
      <nav>
        <a href="home.html">Home</a>
      </nav>
      <small>&#9757; Lottie Swift</small>
    </footer>



  </body>
</html>
