<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=""
    <meta charset="utf-8">
    <title> Find your Safe Spot </title>
  </head>
  <body class="top">
    <header class="container">
      <section class="container">
        <h1>
          <a href="home.html">Find your safe spot</a>
        </h1>
      <section class="container">
      <nav>
        <a href="contactme.html">Share your safe spot</a>
      </nav>
      <h3>Using Shay Howe's Tutorial, + photogenic face</h3>
    </header>
    <section class="container" class="hero container">
      <h2>The idea is to pick up the basics of CSS</h2>
      <p>I will be dipping my toes in to find out how I can best enter the world of tech</p>
      <a class="btn btn-alt" href="contactme.html">Get in Touch</a>
    </section>
      <section class="container">
        <a href="family.html">
          <h5>The Swifts</h5>
          <h3>Must call them</h3>
        </a>
        <p>And its very satisfying after a day of talking to investors</p>
      </section>
      <section class="container">
        <a href="friends.html">
          <h5>The Mates</h5>
          <h3>Must text them</h3>
      </section>
      <section class="container">
        <a href="colleagues.html">
          <h5>The Circlers</h5>
          <h3>Must drink with them</h3>
      </section>
      <section class="container">
      <a href="rolemodels.html">
        <h5>The Idols</h5>
        <h3>Must listen to them</h3>
      </section>
    </section>
    <a href=".top">Back to top</a>
    <footer class="container">
        <small>&#9757; Lottie Swift</small>
      <nav>
        <a href="Tutorial Practice.html">Homie</a>
        <a href="family.html">Family</a>
        <a href="friends.html">Friends</a>
        <a href="colleagues.html">Colleagues</a>
        <a href="rolemodels.html">Role Models</a>
        <a href="contactme.html">Get in Touch</a>
      </nav>
    </footer>



  </body>
</html>
