<!--> to put safespot welcome message with name here <!-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=""
    <meta charset="utf-8">
    <title> Welcome to your safe spot [PUT NAME HERE] </title>
  </head>
  <body class="top">
    <header class="container">
      <section class="container">
        <h1>
          <a href="welcome.html">Welcome to your safe spot</a>
        </h1>

<!--> Here, I want my Google Static API Image <!-->


    </header>
    <section class="container" class="hero container">
      <h2>[find quote about finding calm in a city]</h2>
      <a class="btn btn-alt" href="contactme.html">Get in Touch</a>
    </section>

    <section class="container">
      <nav>
        <a href="contact.html">Share your safe spot</a>
      </nav>
    </section>

    <a href=".top">Back to top</a>
    <footer class="container">
        <small>&#9757; Lottie Swift</small>
      <nav>
        <a href="home.html">Home</a>
      </nav>
    </footer>



  </body>
</html>
