<!--> to put safespot welcome message with name here <!-->
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">.
<title>Safe Spot Welcome</title>
{% if Place %}
  <h1>You are {{ Place }} </h1>
{% else %}
  <h1> I'm sorry, we cannot find you, please re-try</h1>
{% endif %}

<html lang="en">
  <head>
    <link rel="stylesheet" href=""
    <meta charset="utf-8">
  </head>
  <body>
    <header class="hero container">
        <h1>
          <a href="welcome.html">Welcome to your safe spot</a>
        </h1>

<!--> Here, I want my Google Static API Image <!-->

    <footer class="container">
        <small>&#9757; Lottie Swift</small>
      <nav>
        <a href="home.html">Home</a>
      </nav>
    </footer>



  </body>
</html>
